
.container {
    width: 100%;
    height: 100%;
    display: flex;

    *{
        font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }
    
    .logo {
        width: 70%;
    }
}

.side {
    background-color: #0a2435;
    width: 25%;
    padding: 10px;
}
.pacient {
    color: white;
    margin: 2rem auto;
    font-size: 30px;
}

.pacient::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(201, 233, 255, 0.75);
    margin: auto;
}

.containerMain {
    width: 75%;
    height: 100%;

    .head {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 10%;
    }

}

.me {
    background-color: var(--white);
    border: none;

    .select {
        background-color: var(--white);
        border: none;
    }

    .select:before {
        border: none;
    }
}
.menu{
    .menuItem{
        color: var(--primary-color);
        padding: 0px;
        font-size: 1rem;
        font-weight: bold;
        justify-content: flex-start;
        font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }
}
.main{
    width: 90%;
    margin: 2rem;

    .return{
        margin: 1rem;

        a{
            color: var(--primary-color);
        }
    }

    form{
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;

        
        button{
            width: 30%;
            margin: 1rem auto;
        }
    }
}

.primarySec{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    gap: 20px;
}
.secundSec{
    width: 100%;
    display: flex;
    Input{
        width: 100%;
        margin: 10px 0px;
        padding: 1rem;
        border: 2px solid #AEAEAE;
        border-radius: 5px;
        background-color: var(--gray-input);
        color: #7B7B7B;
    }
}
.thirdSec{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    gap: 20px;
}
.save {
    text-align: center;
    background: #2B93DD;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 334px;
    height: 59px;
    margin: 0px auto;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.save:hover {
    background-color: #1a5682;
}