.input{
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #AEAEAE;
    border-radius: 5px;
    background-color: var(--gray-input);
    color: #7B7B7B;
}
/* input[type='submit']{
    background-color: var(--blue);
} */