* {
    padding: 0;
    margin: 0;
    font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.side{
    background-color: #0a2435;
    width: 25%;
    padding: 10px;
}
.patient{
    color: white;
    margin: 2rem auto;
    font-size: 30px;
}
.patient::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(201, 233, 255, 0.75);
    margin: auto;
}
.main{
    width: 75%;
}