#__next{
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;

    *{
        font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }
    
    .logo {
        width: 70%;
    }
}

.side {
    background-color: #0a2435;
    width: 25%;
    height: 100%;
    padding: 10px;
    margin: 0;
}

.pacient {
    color: white;
    margin: 2rem auto;
    font-size: 30px;
}

.pacient::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(201, 233, 255, 0.75);
    margin: auto;
}

.containerMain {
    width: 75%;
    margin: auto;

    .head {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 10%;
    }

}

.me {
    background-color: var(--white);
    border: none;

    .select {
        background-color: var(--white);
        border: none;
    }

    .select:before {
        border: none;
    }
}

.menu{
    .menuItem{
        color: var(--primary-color);
        padding: 0px;
        font-size: 1rem;
        font-weight: bold;
        justify-content: flex-start;
        font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }
}
.main{
    width: 90%;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.buttonSave {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.save {
    text-align: center;
    background: #2B93DD;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 334px;
    height: 59px;
    margin: 0px auto;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.save:hover {
    background-color: #1a5682;
}
.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
}
.title{
    color: var(--secundary-color);
    font-size: 1.5rem;
    margin: 1rem 0px;
}
.inputBox{
    Input{
        width: 100%;
        color: #0a2435;
    }
    Input:hover{
        background-color: #cecece;
    }
    .ImageAvatar{
        display: flex;
        width: 100%;
        height: 250px;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: 2px solid #AEAEAE;
        border-radius: 5px;
        background-color: var(--gray-input);
        color: #7B7B7B;
    
        Input{
            display: none;
            width: 100%;
        }
        span{
            z-index: 99;
            position: absolute;
            transition: all 0.5s;
        }
        span:hover{
            color: black;
            opacity: 1;
            transform: scale(1.3);
        }
    }
}

.section1 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: center;
    grid-gap: 30px;
    gap: 30px;

}

.section2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    grid-gap: 30px;
    gap: 30px;
}

.section3 {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    grid-gap: 30px;
    gap: 30px;
}

.Adress{
    color: var(--secundary-color);
    font-size: 1.5rem;
}
.Adress::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #0a243593;
    margin: auto;
}
.preview{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 720px) {
    .side{
        Image{
            width: 50%;
        }
        a{
            font-size: 1rem;
        }
    }
    .title{
        font-size: 1rem;
    }
    .Adress{
        font-size: 1rem;
    }
    .inputGroup{
        Input{
            font-size: 0.5rem;
        }
    }
}